.yt-scrollbar::-webkit-scrollbar{
  width: 10px;
  
}
.yt-scrollbar::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius:10px ;
}
.yt-scrollbar::-webkit-scrollbar-thumb:hover{
  background: #373737;
}
.yt-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}
.logOut p{
  display: none;
}
.logOut:hover p{
  display: block;
  color: rgb(255, 255, 255);  
  background-color: red;
  border-radius: 10px;
  padding: 5px 7px 5px 7px ;
}
.upload__input{
  display:none;
}
.home__video{
  display: grid ;
  grid-template-columns: repeat(auto-fit,minmax(198px,1fr)) ;
  justify-items:center;
  gap: 15px;

}

@media only screen and (max-width:770px) {
  
 .nav__search{
   width: 340px !important;
  }
  .sidebar p{
      display: none;
  }
  .sidebar{
    width: 5rem;
  }
  .home{
    margin-left: 5rem;
  }
}
@media only screen and (max-width:550px) {
  .nav__search{
    width: 152px !important;
   }
  .nav__mic{
        display: none;
   }
  .nav{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
   }
}